body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 480px;
    width: 490px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    
}

.square{
    width: 1.5625%;
    height: 1.5625%;
    border: 1px solid black;
    box-sizing: border-box;
}

.btn{
    padding: 20px;
}
